{% extends 'base.html' %}

{% load cache %}
{% load thumbnail %}

{% block title %}
  Заметка : {{ topic.title }}
{% endblock %}

{% block content %}
  <div class="container py-5">
    <article>
      <h2 style="font-size: 24px; font-weight: bold; color: #333;">{{ note.title }}</h2>
      {% thumbnail note.image "960x339" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
      {% endthumbnail %}
      <pre>{{ note.content }}</pre>
      <a class="btn btn-primary" href="{% url 'notes:note_edit' note.id %}">
        редактировать запись
      </a> 
      <br>
      {% if not forloop.last %}
        <hr>
      {% endif %}
    </article>
  </div>
{% endblock %}