{% extends 'base.html' %}

{% block title %}Список тем{% endblock %}

{% block content %}
<ul>
    {% for topic in topics %}
        <li>
            <div>
                <a href="{% url 'topic_detail' topic.id %}">{{ topic.title }}</a>
            </div>
            <div>
                <a class="edit-link" href="{% url 'edit_topic' topic.id %}">Редактировать</a>
                <form action="{% url 'delete_topic' topic.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Удалить</button>
                </form>
            </div>
        </li>
    {% empty %}
        <li>Темы отсутствуют.</li>
    {% endfor %}
</ul>
{% endblock %}